@font-face {
  font-family: "home";
  src: url("../FONTE/UnicaOne-Regular.ttf");
}
@font-face {
  font-family: "megrim";
  src: url("../FONTE/LOGO FONT/Megrim-Regular.ttf");
}
:root {
  --cor1: #ffffff;
  --cor2: #000000;
  --cor3: #ff2521;
}
* {
  margin: 0;
  padding: 0;
  cursor: none;
  overflow: hidden;
  font-family: "home";
}
body::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  max-width: 100%;
  height: 100vh;
}
.cursorTRI {
  width: 20px;
  height: 20px;
  display: block;
  /* border-radius: 50%; */
  position: absolute;
  background: var(--cor3);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-45deg);
  color: var(--cor3);
}
section {
  flex-wrap: nowrap;
  margin: 0 20em 0 20em;
  color: var(--cor1);
}
/* flex  center center*/
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.white {
  background-color: var(--cor1);
}
.black {
  background-color: var(--cor2);
}
div {
  margin: 0 5em 0 5em;
}
#logo img {
  border: 1px double var(--cor1);
  max-width: 10em;
  max-height: 10em;
  padding: 1em;
  transition: 0.5s;
}
#logo:hover img {
  border: 10px double var(--cor1);
  max-width: 10em;
  max-height: 10em;
  transition: 0.5s;
}
p {
  font-size: 100%;
  max-width: 12em;
}
