@font-face {
  font-family: "home";
  src: url("../FONTE/UnicaOne-Regular.ttf");
}
:root {
  --cor1: #ffffff;
  --cor2: #000000;
  --cor3: #ff2521;
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  height: 100vh;
}
section {
  flex-wrap: nowrap;
}
/* flex  center center*/
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

img {
  cursor: pointer;
  max-width: 500px;
  min-width: 500px;
}

.black {
  background-color: var(--cor2);
}
.white {
  background: var(--cor1);
}

/* h3 */
h3 {
  color: var(--cor1);
  background-color: transparent;
  font-family: "home";
  font-weight: normal;
  font-size: 2em;
  border-bottom: 1px solid var(--cor1);
}
h2 {
  color: var(--cor2);
  background-color: transparent;
  font-family: "home";
  font-weight: normal;
  font-size: 2em;
}
button {
  font-family: "home";
  border: 1px solid var(--cor2);
  background-color: transparent;
  padding: 0.3em;
  font-size: 1em;
  margin: 15px 0 0 0;
}
p {
  font-family: "home";
  color: var(--cor1);
}
span {
  font-family: "home";
  color: var(--cor3);
}
